@font-face {
    font-family: iransans;
    src: url(font/ir_sans.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: iransans;
}

/*-------------------------------------- header -----------------------------------*/
header {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 5;
}

header ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 20px;
    margin: 0px 50px;
    font-size: 13px;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    padding: 15px 5PX;
    display: inline-block;
    color: #303030;
}

header ul li.logo a img {
    width: 85px;
    vertical-align: middle;
}

/*---------------------------------------- main -----------------------------------------*/
/*-- main section 1 --*/
.main-login-section {
    width: 100%;
    background-color: #21AA58;
    display: flex;
}

.main-login-section>div {
    width: 50%;
}

/* m-l-s-info */
.m-l-s-info .info-container {
    padding: 32px 64px;
    margin-right: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.m-l-s-info .info-container h1 {
    font-size: 33px;
    word-spacing: -0.3rem;
    line-height: 65px;
}

.m-l-s-info .info-container p {
    font-size: 18px;
    line-height: 35px;
}

.m-l-s-info .info-container .m-l-s-info-form {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: stretch;
    gap: 18px;
}

.m-l-s-info-form input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    padding: 12px 10px;
    width: 240px;
    margin-bottom: 1px;
}

.m-l-s-info-form input::placeholder {
    color: #dedede;
    font-weight: 600;
    font-family: IRANSansXFaNum, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.m-l-s-info-form input[type="submit"] {
    color: #21AA58;
    background-color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px 27px;
    font-family: iransans;
    font-weight: 600;
}

.m-l-s-info-form input[type="submit"]:hover {
    background-color: #EEEEEF;

}

.m-l-s-info-loginBtn .btn-login-app {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: white;
    background-color: #21aa58;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-l-s-info-loginBtn .btn-login-app:hover {
    background-color: #33B165;
}

.m-l-s-picture {
    background-image: url(image/Section1.img/panel.png);
    background-size: cover;
    background-position: center;
}

/*-- main section 2 --*/
.main-downloadApp-box {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main-downloadApp-box img {
    width: 160px;
    margin: 10px;
}

/*-- main section 3 --*/
.main-Facilities-section {
    width: 100%;
    background-color: #F2F5F8;
    text-align: center;
    height: auto;
    padding: 5vh 20vh;
    box-sizing: border-box;
}

.m-f-s-title h1 {
    color: #404040;
    margin-bottom: 40px;
    display: inline-block;
}

.m-f-s-item-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.m-f-s-item-box .item {
    background-color: white;
    width: 310px;
    height: 90px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: right;
    color: #404040;
    font-size: 13px;
    line-height: 15px;
    margin: 17px;
    padding: 10px;
    cursor: pointer;
}

.item>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.item p {
    font-size: 12px;
    color: #9d9d9d;
}

.item img {
    width: 60px;
}

/*-- main section 4 --*/
.main-section-4 {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slyder {
    width: 80%;
    height: 320px;
    background-color: #21AA58;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.slyder ::-webkit-scrollbar {
    width: 1px;
    background: transparent;
    opacity: 0.0;
}

.slyder>a {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    scroll-snap-align: start;
}

.slyder>a:nth-of-type(1) {
    background-image: url(image/Section4.img/Food.jpg);
}

.slyder>a:nth-of-type(2) {
    background-image: url(image/Section4.img/Market.jpg);
}

.slyder>a:nth-of-type(3) {
    background-image: url(image/Section4.img/Driver.jpg);
}

.slyder>a:nth-of-type(4) {
    background-image: url(image/Section4.img/Club.jpg);
}

/*-- main section 5 --*/
.main-about-snapp {
    margin-bottom: 35px;
}

.main-about-snapp .discription-part {
    height: 450px;
    display: flex;
    margin-bottom: -60px;
}

.discription-part .m-a-s-picture {
    background-image: url(image/Section5.img/S6-back.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    width: 48%;
}

.discription-part .m-a-s-dis {
    color: rgb(82, 82, 82);
    font-size: 13px;
    line-height: 23px;
    text-align: justify;
    width: 51%;
    padding: 20px 60px 20px 180px;
}

.discription-part .m-a-s-dis h2 {
    line-height: 60px;
    color: #000;
    margin-bottom: 5px;
}

/* section5-Feature-part */
.Feature-part {
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 0 185px;
}

.Feature-part .feature-item {
    height: 350px;
    width: 25%;
}

.Feature-part .feature-item .thumbnail {
    background-color: #F2F5F8;
    border-radius: 20px;
    text-align: center;
}

.Feature-part .feature-item h3 {
    font-size: 15px;
    margin: 15px 0;
    color: #2c2c2c;
}

.Feature-part .feature-item p {
    font-size: 12.1px;
    color: #4e4e4e;
}

/*-- main-section-6 --*/
.main-driver-registraion {
    background-color: #F2F5F8;
    padding: 18px 0;
    box-sizing: border-box;
    text-align: center;
}

.main-driver-registraion .reg-box {
    margin: auto;
    width: 80%;
}

.main-driver-registraion .reg-box h2 {
    font-size: 32px;
    color: #404040;
    margin: 20px 0;
}

.main-driver-registraion .reg-box p {
    font-size: 18px;
    color: #696969;
}

.main-driver-registraion .reg-box .driver-reg-btn {
    text-decoration: none;
    border-radius: 7px;
    padding: 12px 30px;
    background-color: #00D170;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 22px;
}

.main-driver-registraion .reg-box .driver-reg-btn:hover {
    background-color: #33B165;
}

.main-driver-registraion .benefits-video video {
    width: 80%;
    margin: 35px 0;
    border-radius: 8px;
}

.main-driver-registraion .benefits-cart {
    display: flex;
    margin: 20px auto 10px;
    justify-content: space-around;
    width: 82%;
    flex-flow: wrap;
}

.main-driver-registraion .benefits-cart .ben-item {
    background-color: white;
    height: 200px;
    margin: 20px 0;
    width: 48%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    font-size: 12px;
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 25px;
    color: #404040;
}

.main-driver-registraion .benefits-cart .ben-item img {
    width: 125px;
}

.main-driver-registraion .benefits-cart .ben-item h3 {
    margin-bottom: 8px;
    color: #000;
}


/*-------------------------------------------------------- footer -------------------------------------*/
footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    display: inline-block;
    color: rgb(114, 114, 114);
}

/* f1 */
footer .quick-access-menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    margin-top: 40px;
}

/* f2 */
footer .social-media {
    margin: 20px 0;
}

footer .social-media svg {
    margin: 4px;
    width: 32px;
}

/* f3 */
footer .symbols {
    margin-bottom: 30px;
}

footer .symbols img {
    margin-left: 5px;
    width: 135px;
}